{% extends '::base.html.twig' %}

{% block body -%}

    <div class="padding">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h2>Badge / Add</h2>
                    </div>
                    <div class="box-divider m-a-0"></div>
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>

        <ul class="record_actions">
    <li>
        <a href="{{ path('badge') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
